<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %clr(%-5level){faint} %clr([user: %X{username:-anonymous}]){cyan} %clr([requestId: %X{requestId:-none}]){yellow} %clr([traceId: %X{traceId:-none}]){green} %clr([spanId: %X{spanId:-none}]){blue} %clr(%-40.40logger{39}){magenta} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>